<!DOCTYPE html>
<html>

<head>
    <title> Employee - View All </title>
</head>
    <body>
        <h1> Employees </h1>
        <a href="/employee/add">Add New Employee</a> <br />

        <table border = "1">
            <tr>

                <th>SSN </th>
                <th>Name </th>
                <th> Wage </th>
                <th>Address</th>
                <th> Company </th>

            </tr>
            <% for(var i = 0; i < result.length; i++){ %>
                <tr>

                    <td><%= result[i].ssn %></td>
                    <td><%= result[i].fname + ' ' + result[i].lname %></td>
                    <td><%= result[i].wage %></td>
                    <td><%= result[i].street %>,
                    <%= result[i].city %>,
                    <%= result[i].state %>,
                    <%= result[i].zip_code %></td>
                    <td><%= result[i].company_name %></td>
                </tr>
            <% } %>
        </table>

    </body>
</html>