<!DOCTYPE html>
<html>

<head>
    <title> Company - View All </title>
</head>
    <body>
        <h1> Companies </h1>

        <% if(locals.was_successful) { %>
        <div>
            <div id="message">
                was successfully Deleted.
            </div>
        </div>
        <% } %>

        <a href="/company1/add">Add New Company</a> <br />

        <table border = "1">
            <tr>

                <th> Name </th>
                <th>Owner Name </th>
                <th> Address </th>
                <th>Actions</th>

            </tr>
            <% for(var i = 0; i < result.length; i++){ %>
                <tr>

                    <td><%= result[i].name %></td>
                    <td><%= result[i].owner_fname %>
                    <%= result[i].owner_lname %></td>

                    <td><%= result[i].street %>,
                    <%= result[i].city %>,
                    <%= result[i].state %>,
                    <%= result[i].zip_code %></td>
                    <td>
                        <a href='/company1/edit/?comp_id=<%= result[i].comp_id %>'>
                            Edit
                        </a>

                        <a href='/company1/delete/?comp_id=<%= result[i].comp_id %>'>
                            Delete
                        </a>
                    </td>

                </tr>
            <% } %>
        </table>

    </body>
</html>